textarea.form-control {
	box-shadow: none !important;
	background-color: white;
}

.form-control {
	border-radius: 0;
}

.file-upload {
	height: 300px; 
	display: flex;
	flex-direction: column;
	align-items: center; 
	justify-content: center;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	display: block;
	opacity: 0;
}